@media(max-width: 1015px){
	i{
		font-size: 2rem;
	}
}

@media(max-width:725px){
	.about-me{
		h5{
			font-size: 3rem;
			top: -13%;
		}
	}
	.skills{
		h5{
			top: -13%;
			font-size: 3rem;
		}
		.skills-gallery{
			li{
			width: calc(100% / 3);
			}
		}
		
	}
	
	.portfolio {
		h5{
			top: -1.5%;
			font-size: 3rem;
		}
		
		.portfolio-container{

		.gallery-tiles{
		display:grid;
		grid-template-columns: 100%;
	
			.project-item1{
				grid-row: 1;
				grid-column: 1;
				margin:4%;
				}
			.project-item2{
				grid-row: 2;
				grid-column: 1;
				margin: 4%;
				}
			.project-item3{
				grid-row: 3;
				grid-column: 1;
				margin: 4%;

				}
			.project-item4{
				grid-row: 4;
				grid-column: 1;
				margin: 4%;
				}
		}
	
	}

}

		.contact{

		margin: 15% 0;
		
		h5{
			font-size: 3rem;
			top: -11%;
		}

		.contact-methods{
			margin: 10% 0;
		}
	  }

	.blog{

		h5{
			top: -10%;
			font-size: 3rem;
		}
		.blog-gallery{
			flex-direction: column;
		}
	}

	footer{
		nav{
			display:none;
		}
	}
}

@media (max-width: 400px){
	header{
		.open{
			display: block;

			i{
				padding-top:3%;
				font-size:30px;
				color: #153350;
			}
		}
		.exit{
			display: block;
			i{
			font-size:20px;
			color: black;
			position: absolute;
			top: 0;
			left: 48%;
			z-index: 50;
			}
			
		}

		.closed{
			display:none;
		}
		.desktop-nav{
			display:none;
		}
		
			.mobile-nav 

			ul {
			position: absolute;
			top:0;
			right:0;
			left:0;
			bottom:0;
			flex-direction: column;
			background-color: white;
			}
		
		.header-container{
		padding-top: 25%;

		h1{
			font-size: 1.5rem;
		}
	  }	
	}

	.about-me{
		h5{
			font-size: 2.5rem;
			top: -10%;
			left: 7%;
		}

		.about-container{
			p{
				line-height: 180%;
				margin: 2% 0;
			}
		}
	}

	.skills{
		h5{
			font-size: 2rem;
			top: -7%;
			left: 7%;
		}
		.skills-gallery{
			ul{
				li{
					width: calc(100% / 2);
						i{
							font-size: 1.7rem;
						}
		 			 }
				}
		}
	}

	.portfolio{
		h5{
			font-size: 2.5rem;
			top: -1%;
			left: 7%;
		}

	}

	.contact{
		h5{
			font-size: 2rem;
			top: -5%;
			left: 7%;
		}

		.contact-methods{
			display:flex;
			flex-direction: column;
			.telephone, 
			.email{
				width: 100%;
				margin: 5% 0;
			}
		}

		.form-contact{
			.name-input{
				width: 90%;
			}
		}

	}

	.blog{
		.blog-container{
			.blog-gallery{
			flex-wrap: wrap;
				.blog-item{
					width: 100%;
				}
			
			}
		}
		
	}
}
