@import 'setup';
@import 'header';
@import 'footer';


// About Me Section Styling

.about-me{
	margin: 10% auto;
	position: relative;

	h5{
		color: #E7E7E7;
		font-size: 4rem;
		position: absolute;
		z-index: -5;
		top: -27%;
		left: 20%;
		text-transform: uppercase;
	}

}

.about-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 200%;

	h2{
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #232323;
		letter-spacing: 10px;
		position: relative;
	}

	h3{
		font-weight: 300;
		letter-spacing: 4px;
		font-size: 1rem;
		color: #8E898A;
		font-weight:800;
		text-transform: uppercase;
	}


	p{
		text-align: center;
		font-size: 0.8rem;
		color: #676362;
	}
}

.skills{
	margin: 10% auto;
	position: relative;

	h5{
		color: #E7E7E7;
		font-size: 4rem;
		position: absolute;
		z-index: -5;
		top: -16%;
		left: 20%;
		text-transform: uppercase;
	}

}

.skills-gallery{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 200%;

	h2{
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #232323;
		letter-spacing: 10px;
		position: relative;
	}

	ul{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 4%;
	


		li{
			list-style-type: none;
			width: calc(100% / 4);
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			

			i{
				font-size: 2.5rem;
				border: 1px solid black;
				width: 25%;
				padding: 2%;
				text-align: center;
			}

			h6{
				text-align: left;
				color: #232323;;
			}

			img{
				border: 1px solid black;
				width: 20%;
				padding: 2%;
			}
		}
	}
	

}

// Start of portfolio section styling

.portfolio{
	margin: 10% auto;
	position: relative;


	h5{
		color: #E7E7E7;
		font-size: 4rem;
		position: absolute;
		z-index: -5;
		top: -3.5%;
		left: 20%;
		text-transform: uppercase;
	}

	.portfolio-container{
		line-height: 200%;

		h2{
			font-size: 1.5rem;
			text-transform: uppercase;
			color: #232323;
			letter-spacing: 10px;
			position: relative;
			text-align: center;
		}

		.gallery-tiles{
			display:grid;
			grid-template-columns: 50%;
			margin-top:4%;

			>div{
				margin: 2%;
			}

			p{
				color: #676362;
			}

			.project-item1{
				grid-column: 1 ;
        		grid-row: 1;
			}

			.project-item2{
				grid-column: 2;
				grid-row: 2;
			}


			img{
				width:100%;
			}

			a{
				border: 2px solid #232323;
				padding: 1%;
				text-transform: uppercase;

				&:hover{
					background-color: black;
					color: white;
				}
			}

			h6{
				font-size: 1.2rem;
				text-transform: uppercase;
				color: #232323;
			}
		}

  }
		
}

// End of portfolio section styling

// Beginning of contact section styling

.contact{
	margin: 10% auto;
	position: relative;

	h5{
		color: #E7E7E7;
		font-size: 4rem;
		position: absolute;
		z-index: -5;
		top: -8%;
		left: 20%;
		text-transform: uppercase;
	}

	.contact-container{
		display: flex;
		flex-direction: column;
		align-items: center;

			h2{
				font-size: 1.5rem;
				text-transform: uppercase;
				color: #232323;
				letter-spacing: 10px;
				position: relative;
			}

			.contact-methods{
				width: 100%;
				display: flex;
				margin: 5% 0;

				h4{
					text-transform: uppercase;
				}

				.telephone, .email{
					margin-right: 10%;
					line-height: 200%;
				
				}

				i{
					font-size: 1rem;
					border: 2px solid black;
					text-align: center;
					padding: 10px;
				}
			}

			.form-contact{
				width:100%;
				margin: 2% 0;
				text-transform: uppercase;

				form{
					display: flex;
					flex-direction:column;
				}

				input[type=text]{
					width:60%;
					margin: 1% 0;
				}

				input[type=submit]{
					width:20%;
					text-transform: uppercase;
					border: 2px solid lightgrey;
					background-color: white;

					&:hover{
						background: black;
						color:white;
					}
				}

			
			}
		}
}
// End of contact page styling

// Start of blog section styling

.blog{
	
	margin: 10% auto;
	position: relative;

	h5{
		color: #E7E7E7;
		font-size: 4rem;
		position: absolute;
		z-index: -5;
		top: -15%;
		left: 20%;
		text-transform: uppercase;
	}

	.blog-container{
		display: flex;
		flex-direction: column;
		align-items: center;

			h2{
				font-size: 1.5rem;
				text-transform: uppercase;
				color: #232323;
				letter-spacing: 10px;
				position: relative;
			}

			.blog-gallery{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 5% 0;
				background-color: #F1F1F1;

				.blog-item{
					width: 30%;
					text-align: center;
					margin: 5% 0;
				
				

					h4{
						margin: 5% 0;
						text-transform: uppercase;
						font-weight: 800;
					}

					a{
						text-transform: uppercase;
						font-weight: 400;
						font-size: 0.8rem;
						color: black;
						text-align: center;
						border-bottom: 2px solid black;
						width: 50%;
						text-align: center;
					}
				}
			}
	}
}



@import 'mediaQueries';