article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header, footer, div, h1, h2, h3, h4, h5, h6, p, a, li, ul, nav {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 1175px;
  margin: 0 auto;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(208, 209, 203, 0.1)), to(rgba(208, 209, 203, 0.1))), url(./assets/header-image-2.jpg);
  background-image: linear-gradient(rgba(208, 209, 203, 0.1), rgba(208, 209, 203, 0.1)), url(./assets/header-image-2.jpg);
  background-size: cover;
  background-position: 30%, 50%;
  min-height: 450px;
  color: white;
  text-align: center;
  position: relative;
}

header nav {
  text-transform: uppercase;
  padding-top: 1%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  font-size: 0.8rem;
  color: black;
  letter-spacing: 2px;
  -webkit-transform: linear 1s;
          transform: linear 1s;
}

header .header-container {
  margin-top: 17%;
  line-height: 200%;
}

header .header-container h1 {
  text-transform: uppercase;
  letter-spacing: 13px;
  font-size: 2rem;
}

header .header-container h3 {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1rem;
}

header .header-container a {
  color: black;
  text-transform: uppercase;
  background-color: white;
  padding: 1% 2%;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 700;
}

header .header-container a:hover, header .header-container a:focus {
  border: 2px solid white;
  background-color: black;
  color: white;
}

.about-me {
  margin: 10% auto;
  position: relative;
}

.about-me h5 {
  color: #E7E7E7;
  font-size: 4rem;
  position: absolute;
  z-index: -5;
  top: -20%;
  left: 20%;
  text-transform: uppercase;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 200%;
}

.about-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 10px;
  position: relative;
}

.about-container h3 {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1rem;
  color: #B8B8B8;
}

.about-container p {
  text-align: center;
  font-size: 0.8rem;
  color: #B8B8B8;
}

.skills {
  margin: 10% auto;
  position: relative;
}

.skills h5 {
  color: #E7E7E7;
  font-size: 4rem;
  position: absolute;
  z-index: -5;
  top: -20%;
  left: 20%;
  text-transform: uppercase;
}

.skills-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
  line-height: 200%;
}

.skills-gallery h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 10px;
  line-height: 180%;
  position: relative;
}

.skills-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 4%;
}

.skills-gallery ul li {
  list-style-type: none;
  width: calc(100% / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-gallery ul li i {
  font-size: 1rem;
  border: 1px solid black;
  width: 25%;
  padding: 2%;
  text-align: center;
}

.skills-gallery ul li h6 {
  text-align: left;
  color: #B8B8B8;
}

.skills-gallery ul li img {
  border: 1px solid black;
  width: 20%;
  padding: 2%;
}

.portfolio {
  margin: 10% auto;
  position: relative;
}

.portfolio h5 {
  color: #E7E7E7;
  font-size: 4rem;
  position: absolute;
  z-index: -5;
  top: -7%;
  left: 20%;
  text-transform: uppercase;
}

.portfolio .portfolio-container {
  line-height: 200%;
}

.portfolio .portfolio-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 10px;
  line-height: 180%;
  position: relative;
  text-align: center;
}

.portfolio .portfolio-container .gallery-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles {
  background-color: #CBCBCB;
  width: 40%;
  margin: 1%;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles .project-one-tile {
  padding: 6%;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles .project-one-tile h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 10px;
  color: white;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles .project-one-tile .project-feature {
  background-image: url(./assets/hike-finder.png);
  background-size: cover;
  width: 100%;
  height: 220px;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles .project-one-tile a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-right: 10%;
  border-bottom: 2px solid black;
}

.portfolio .portfolio-container .gallery-tiles .left-tiles .quote-tile {
  height: 40%;
  background-color: white;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles {
  width: 60%;
  margin: 1%;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .top-right .top {
  height: 100px;
  background-color: #EFEEEE;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .top-right .bottom {
  margin: 2% 0;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .top-right .bottom h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 10px;
  color: black;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .top-right .bottom a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-right: 10%;
  border-bottom: 2px solid black;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .project-feature2 {
  width: 55%;
  background-color: #CBCBCB;
  padding: 6%;
  margin-right: 1%;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .project-feature2 h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 10px;
  color: white;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .project-feature2 a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-right: 10%;
  border-bottom: 2px solid black;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .square-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin-left: 1%;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .square-tiles .square-tile-top img {
  width: 100%;
}

.portfolio .portfolio-container .gallery-tiles .right-tiles .bottom-right .square-tiles .square-tile-bottom {
  background-color: #EEEEEE;
  height: 100%;
}

.contact {
  margin: 10% auto;
  position: relative;
}

.contact h5 {
  color: #E7E7E7;
  font-size: 4rem;
  position: absolute;
  z-index: -5;
  top: -7%;
  left: 20%;
  text-transform: uppercase;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 200%;
}

.contact .contact-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 10px;
  line-height: 180%;
  position: relative;
}

.contact .contact-container .contact-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 400px) {
  header .header-container {
    padding-top: 25%;
  }
  header .header-container h1 {
    font-size: 1.5rem;
  }
  .about-me h5 {
    font-size: 3rem;
    top: -10%;
    left: 7%;
  }
  .about-me .about-container p {
    line-height: 180%;
    margin: 2% 0;
  }
  .skills h5 {
    font-size: 3rem;
    top: -10%;
    left: 7%;
  }
  .portfolio h5 {
    font-size: 3rem;
    top: -10%;
    left: 7%;
  }
}
